// @import "core/reset";
// @import "layout/collapsable-title";
// @import "layout/header-cards";
// @import "layout/main-landing";
// @import "layout/collapsable-design";
// @import "layout/collapsable-fill";
// @import "layout/collapsable-share";
// @import "layout/form";
// @import "layout/footer";
// @import "layout/preview";
// @import "pages/mediaquery";

.page-wrapper {
 margin: 0 20px;

 @media all and (min-width:768px) {
   margin-left: 40px;
 }

 @media all and (min-width:1200px) {
   margin   : 0 auto;
   max-width: 1120px;
 }
}
